<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
<head>
    <div th:replace="@{/fragments/header}"/>
</head>

<body>
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <img alt="" th:src="@{'/static/img/'+${error}}">
            </div>
        </div>
    </div>
    <!-- About End -->
    
    <!-- Testimonial Start -->
	<div th:replace="@{/fragments/footer}"/>
	<script>
    	window.scrollTo(0, 1200);
    </script>
</body>

</html>