<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
<head>
    <div th:replace="@{/fragments/header}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/profiles.css}">
</head>

<body>
    <!-- About Start -->
    <div class="container-fluid py-5" id="detail404">
    <h1 class="display-1" style="text-align: center;">Profiles</h1>
        <div class="container py-5" style="text-align: center;">
		     <form th:action="@{/profiles/change-avatar}" th:method="post" enctype="multipart/form-data">
		        <table>
		          <tr>
		            <th>Avatar</th>
		            <td>
		            	<img alt="" th:src="@{'/static/img/'+${item.avatar}}" width="200px" height="200px">
		            </td>
		          </tr>
		          <tr>
		          	<th></th>
		          	<td>
		          		<input class="form__field" type="file" name="photo" placeholder="Enter photo"/>
		          	</td>
		          </tr>
		          <tr>
		          	<th></th>
		          	<td>
		          		<button class="button small red --jb-modal" data-target="sample-modal" type="submit">
		                  <span class="icon"><i class="mdi mdi-check"></i></span>
		                </button>
		          	</td>
		          </tr>
		        </table>
		      </form>
        </div>
    </div>
    <!-- About End -->
    <!-- Testimonial Start -->
	<div th:replace="@{/fragments/footer}"/>
	<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=658339141622648&ev=PageView&noscript=1"/></noscript>
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
	<script>
    	window.scrollTo(0, 1200);
    </script>
</body>

</html>