<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
  xmlns:layout="http://www.w3.org/1999/xhtml"
>
<head>
  <div th:replace="@{/admin/fragments/header}"/>
</head>
<body>
    <div th:replace="@{/admin/fragments/navar}"/>      
    <div class="card-content">
      <form th:action="@{'/admin/'+${jclass}+'/add'}" th:object="${item}" th:method="post">
        <table>
          <tr>
            <th>ID</th>
            <td><input type="text" th:field="*{id}" class="form__field" required="required" readonly="readonly" style="color: red; font-weight: bold;"></td>
          </tr>
          <tr>
            <th>First Name</th>
            <td><input type="text" th:field="*{firstname}" class="form__field" required="required" placeholder="firstname"></td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td><input type="text" th:field="*{lastname}" class="form__field" required="required" placeholder="lastname"></td>
          </tr>
          <tr>
            <th>Username</th>
            <td><input type="text" th:field="*{username}" class="form__field" required="required" placeholder="username"></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><input type="password" th:field="*{password}" class="form__field" required="required" placeholder="password"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input type="text" th:field="*{email}" class="form__field" required="required" placeholder="email"></td>
          </tr>
          <tr>
            <th>Date of Birth</th>
            <td><input type="date" th:value="${birthday}" name="birthday" class="form__field" required="required" placeholder="Date of Birth"></td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td><input type="text" th:field="*{phone}" class="form__field" required="required" placeholder="Phone Number"></td>
          </tr>
          <tr>
            <th>Avatar</th>
            <td>
            	 <input type="text" th:field="*{avatar}" class="form__field" required="required" readonly="readonly">
           		 <img alt="" th:src="@{'/static/img/'+${item.avatar}}" width="100px" height="100px">
            </td>
          </tr>
          <tr>
            <th>Status</th>
            <td><input type="text" style="color: red;font-weight: bold;text-transform: uppercase;" th:field="*{status}" class="form__field" required="required" placeholder="status" readonly="readonly"></td>
          </tr>
          <tr>
          	<th></th>
            <td class="actions-cell">
              <div>
                <button class="button small red --jb-modal" data-target="sample-modal" type="submit">
                  <span class="icon"><i class="mdi mdi-check"></i></span>
                </button>
              </div>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</section>
<div th:replace="@{/admin/fragments/footer}"/>
</body>
</html>
